* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(./Data/background2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: left;
  font-family: sans-serif;
  font-weight: 550;
  margin: 0;
  padding: 0.3em 0.5em;
  color: #fff;
  background-color: rgb(10, 37, 87);
  border-bottom: black 2px solid;
}

// items-result
.result {
  height: calc(100vh - 70px);
  height: 69%;
}
.result-items {
  overflow-y: auto;
  height: 70%;
}
// item-result
.item {
  padding: 2.5% 3% 2.5% 2.5%;
  text-align: left;
  background-color: rgba(224, 219, 219, 0.671);
  margin: 1.5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  .item-pos {
    font-size: larger;
  }
  .item-definitions {
    padding-left: 3%;
    font-size: smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}
.word-result {
  text-transform: lowercase;
  font-size: 1.8rem;
  font-weight: 450;
  &::first-letter {
    text-transform: uppercase;
  }
}

// search word
.choose-pos {
  z-index: 1;
  padding-left: 0px;
  li {
    min-width: 200px;
    font-size: 1.3rem;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 0px;
    position: relative;
    text-decoration: none;
    font-family: arvo;
  }

  li span {
    color: black;
  }

  li span:hover {
    color: #3ca0e7;
  }

  li:hover {
    cursor: pointer;
  }

  li ul {
    width: 70%;
    font-size: 0.9rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    display: none;
    background: rgb(255, 255, 255);
  }

  li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
    padding-top: 10px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }
  li ul li {
    font-size: 1.2em;
    padding: 0px 20px;
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border-style: none;
  }

  li ul li span:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }
}
// ****** Loading ******

// loading gif
.loading-gif {
  position: fixed;
  height: 100%;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
// ****** Loading ******

// ****** Navbar ******

// * The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(0, 6, 48); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c4c4c4;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav span:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}
.open-nav {
  margin-right: 2%;
  cursor: pointer;
}
// ****** Navbar ******

// ****** Home Page ******
.homepage-div {
  text-align: left;
  h3 {
    font-family: cursive;
    font-size: 2em;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 0.5em;
  }
  div {
    margin: 10px;
    padding: 0.5px;
    span {
      margin-top: 1.5em;
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        margin: 0;
        margin-left: 0.5em;
      }
    }
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    ul {
      list-style-type: none;
      padding: 0px 10px;
      li {
        margin: 10px 10px 5px 5px;
        font-weight: 500;
        border-bottom: #22a6b3 1px solid;
      }
    }
  }
}
// ****** Home Page ******

// ****** Form ******
$primary: #382ec7;
$secondary: #49d3d8;
$white: #fff;
$gray: #160e86;

form .headers-h5 {
  text-align: left;
  font-family: cursive;
  font-size: 2em;
  font-weight: 500;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form-tag {
  // position: relative;
  margin-top: 80px;
  height: 90vh;
}
.form__field {
  margin: 10px 10px;
  font-family: inherit;
  width: 90%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 22px;
  }
}

.form__label {
  position: absolute;
  left: 19px;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -5px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 600;
  }
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.form-search {
  margin: 0 3% 0 3%;
}
.form-search-box-div {
  margin: 0% 15% 0% 2%;
  position: relative;
  z-index: 1;
}
.form-explanation-search-h2 {
  text-align: left;
  margin: 5% 0% 5% 0%;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0px 10px;
}

.form-btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  margin-top: 0.9rem;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.form-btn-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
// Part of speech Component
#search-box-pos {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-btn-search {
    font-size: 30px;
    margin-top: 0;
  }
}
// part-result on search word
.span-part-of-speech-choose {
  font-size: 1.3rem;
  flex-grow: 2;
  min-width: 3.5em;
  &::first-letter {
    text-transform: uppercase;
  }
}

.form-div-choose-pos {
  margin-left: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
// ****** Form ******

// error page
.error-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 60vh;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 35px;
  z-index: -1;
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  .img-error {
    animation: move 1s infinite 1.2s ease-in-out;
    animation-direction: alternate;
    height: 80%;
    object-fit: cover;
